.center {
  text-align: center;
  height: 60px;
  margin: auto;
  padding: 25px 0 0 0;
}

.center-h2 {
  text-align: center;
  height: 60px;
  margin: 0px 0px 0px 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.center-h2:hover {
  text-shadow: 2px 2px 4px #FDFBD4;
}

h1 {
  text-shadow: 2px 2px 4px #FDFBD4;
}

.background-photo {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 580px;
  margin: 0px -20px 0px 0px;
}

.header-color {
  color: black;
  background-color: #018749;
  height: 100%;
  margin: -8px 0px 0px 0px;
  /*	 
rgb(144, 229, 160) 
#17B169
#00AB66
#1f493d
#018749
*/
}

.footer {
  background-color: #018749;
  height: 43px;
  margin: -8px 0px 0px 0px;
  text-align: center;
  padding: 20px;
  /*
  background-color: rgb(144, 229, 160)
*/
}

#cover-text {
  background-color: rgba(22, 22, 20, 0.2);
  position: absolute;
  width: 50%;
  min-height: 50px;
  padding-top: 20px;
  margin-bottom: 7px;
  margin-left: 25%;
  border-radius: 10px;
  border: 1px solid white;
  color: white;
  display: block;
}

#cover-text:hover {
  background-color: #FAC898;
  color: #009A44;
  border-radius: 10px;
  text-shadow: 2px 2px 4px #FDFBD4;
}

#hero {
  height: 600px;
  width: 100%;
  background-image: url(../images/foto1.webp);
  background-size: 100vw 81vh;
  margin: 0px -20px 0px 0px;
}

/* url(assets/images/foto1.webp) */
/* background: url(assets/images/foto1.webp) no-repeat center center/cover;  */